body {
  font-family: "Cousine";
  background: #f4f4f4;
  color: #1d2023;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #1d2023;
  transition: all 0.5s;
}

.link {
  border-bottom: solid 2px #6f9bd4;
}

.link:hover {
  border-bottom: solid 2px #1d2023;
}

/*welcome styling*/
#welcome-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  max-width: 800px;
}

/*projects styling*/
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects-box {
  display: flex;
  overflow: auto;
  height: 100%;
}

.project-tile {
  display: flex;
  align-items: center;
  text-align: left;
  max-width: 900px;
  margin: 40px;
  padding: 15px;
  background: #e6e6e6;
  border-radius: 3px;
}

.tile-thumb {
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 3px;
}

/*contact syling*/
#contact {
  width: 100%;
  text-align: center;
}

.contact-link {
  border-bottom: solid 2px #f4f4f4;
}

/*nav styling*/
#navbar {
  position: sticky;
  top: 0px;
  width: 100%;
  background: #f4f4f4;
  text-align: center;
  margin-left: 40%;
}

#navbar ul {
  margin: 20px;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  text-decoration: none;
  color: #1d2023;
  padding: 9px;
  transition: all 0.5s;
  border-bottom: solid 2px #f4f4f4;
}

#navbar li a:hover,
.contact-link:hover {
  border-bottom: solid 2px #143f78;
}

/*media settings for mobile*/
@media (max-width: 750px) {

  /*tile projects vertically*/
  .projects-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*fix the navbar*/
  #navbar {
    position: relative;
  }
}






/* .fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius:45%;
  opacity: 0.7;

}


.fa:hover {

  opacity: 1;
  border-radius:50%;
  
} */

.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 45%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.fa:hover {
  /* opacity: 1;
  border-radius: 50%;
  transform: scale(1.2); */
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-medium {
  background: black;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}